<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>42HuaKangYuanTiW7.ttf</string>
		<string>43HuaKangYuanTiW9.ttf</string>
		<string>41HuaKangYuanTiW5.ttf</string>
		<string>40HuaKangYuanTiW4.ttf</string>
		<string>LilitaOne-Regular.ttf</string>
	</array>
</dict>
</plist>
